<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div class="container">
  <h2 class="card chatroom-title"><%= "#{@conversation.target_user(current_user).name}さんとのchatroom" %></h2>
  <br>
  <div id ='messages'>
    <ul class="list-group message-main" id='message-area'>
    <%= render @messages %>
    </ul>
  </div>
  <form class='form-inline'>
    <div class='form-group'>
      <input type="text" class="form-control" id='chat-input'/>
    </div>
    <button id="button" class="btn btn-primary">送信</button>
  </form>
</div>




<%#= "#{target_user(current_user).name}さんとの会話" %>




