
  <div class="container my-5 py-5 z-depth-1 toppage-card">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">LoL friend's</h3>

          <p class="text-muted">LoLのコミュニティサイトです。</p>

          <a class="btn btn-purple btn-md ml-0" href="/users/sign_up" role="button">Start now<i class="fa fa-gem ml-2"></i></a>

          <hr class="my-5">

          <p class="font-weight-bold">既に始めている方はこちら</p>

          <a class="btn btn-purple btn-md ml-0" href="/users/sign_in" role="button">Login<i class="fa fa-gem ml-2"></i></a>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4 mb-md-0">

          <img src="https://mdbootstrap.com/img/Others/screens1.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>