<section style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jax_6.jpg'); background-repeat: no-repeat; background-size: cover;" class='back-image'>
<div>
  <br>
</div>
  <div class="container my-5 py-5 toppage-card">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="title_font title_color">LoL friend's</h3>

          <p class="font-weight-bold title_color">Leage of Legendsのコミュニティサイトです。</p>

          <a class="btn btn-black text-white btn-md ml-0" href="/users/sign_up" role="button">Start now<i class="fa fa-gem ml-2"></i></a>

          <hr class="my-5 animated rotateIn">

          <p class="title_color">既に始めている方はこちら</p>

          <a class="btn btn-black text-white btn-md ml-0" href="/users/sign_in" role="button">Login<i class="fa fa-gem ml-2"></i></a>


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4 mb-md-0">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!--Section: Content-->
  </div>
  <div>
  <br><br>  
  </div>
</section>