<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>
<br>
<div class="container">
  <div class="card center-title">
    <h1><%= "#{@board.title}" %></h1>
    <h3><%= "#{@board.content}" %></h3>
  </div>
  <div id ='responses'>
    <ul class="list-group " id="responses-area">
    <%= render @responses %>
    </ul>
  </div>

  <form class='form-inline'>
    <div class='form-group'>
      <input type="text" class="form-control" id='response-input' autofocus/>
    </div>
    <button id="board-button" class="btn btn-primary">送信</button>
  </form>
</div>