// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "./summonersearches";
@import "./users";
@import "./header";
@import "./groups";
@import "./sessions";
@import "./boards";
@import "./messages";
@import "./relationships";

body {
  background-color: #c0c0c0;
  font-family: メイリオ;
}

.back-image {
  height: 150vh;
}

.alert {
  text-align: center;
  margin: 0;
}

ul {
  list-style: none;
}

#error_explanation {
  margin: 0;
}

.title {
  font-family: cursive;
}