.chatroom-title {
  text-align: center;
}

.message-main {
  height: 25rem;
  overflow: scroll;
}

.chat-hukidasi {
  word-break: break-all;
  display: inline-block; /*コメントの文字数に合わせて可変*/
  padding: 15px 30px;
  margin-left: 30px;
  margin-top: 8px;
  border-radius: 10px;
  position: relative;
  background-color: #D9F0FF; 
}

.chat-hukidasi:after {
  content: "";
  position: absolute;
  top: 50%; 
  left: -10px;
  margin-top: -10px;
  display: block;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #D9F0FF transparent transparent;
}

.my-hukidasi {
  background-color: palegreen;
  float: right;
  margin-top: -10px;
  margin-right: 100px;

}

.my-hukidasi:after {
  content: "";
  position: absolute;
  top: 50%; 
  left: auto;
  margin-top: -10px;
  display: block;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  right: -10px;
  transform: rotate(180deg);
  border-color: transparent palegreen transparent transparent;
}
.right {
  float: right;
  position: relative;
}
.my-image {
  position: absolute;
  top: 30px;
  right: 15px;
}
.my-message {
  float: right;
}

.message-status {
  position: absolute;
  top: 85px;
  right: 15px;
}


