.toppage-card {
  
}

.title_color {
  color: azure;
  font-weight: 700;
  
}

.title_font {
  font-weight: 700;
  font-size: 3rem;
  font-family: cursive;
}

hr {
  border: 0;
  border-top: 2px solid #212121;
}