// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage {
  
  margin-top: 2rem;
}

.main_area {
  margin-top: 2rem;
}

#user_search_result {
  background-color: #87a89b;
}

.search_response {
  text-align: center;
}